/* Globals */
$spacer: 20px;
$line-height: 1.5;
$lighten: 30%;

/* Colors */
$error-color: #f24a3f;
$default-color: #426fab;
$success-color: #6db736;
$warning-color: #b78036;

.notifier {
  &__list {
    position: fixed;
    z-index: 1000;
    top: $spacer;
    left: auto;
    right: $spacer;
    bottom: auto;

    &--position {
      &-top-left {
        top: $spacer;
        left: $spacer;
        right: auto;
        bottom: auto;
      }

      &-top-right {
        top: $spacer;
        left: auto;
        right: $spacer;
        bottom: auto;
      }

      &-bottom-left {
        top: auto;
        left: $spacer;
        right: auto;
        bottom: $spacer;
      }

      &-bottom-right {
        top: auto;
        left: auto;
        right: $spacer;
        bottom: $spacer;
      }

    }

  }

  &__item {
    width: 200px;
    padding: 15px 25px;
    margin-bottom: 10px;
    border: 1px solid;
    line-height: $line-height;
    background: lighten($default-color, $lighten);
    color: $default-color;
    cursor: pointer;
    border-radius: 2px;

    &--type {
      &-default {
        background: lighten($default-color, $lighten);
        color: $default-color;
      }

      &-warning {
        background: lighten($warning-color, $lighten);
        color: $warning-color;
      }

      &-error {
        background: lighten($error-color, $lighten);
        color: $error-color;
      }

      &-success {
        background: lighten($success-color, $lighten);
        color: $success-color;
      }

    }

    &--animation {
      &-show {
        animation: notifier-show 180ms cubic-bezier(.175, .885, .32, 1.27499), notification-shrink 250ms 250ms cubic-bezier(.5, 0, 0, 1);
      }

      &-hide {
        animation: notifier-hide 250ms cubic-bezier(.33859, -.42, 1, -.22), notifier-shrink 250ms 250ms cubic-bezier(.5, 0, 0, 1);
        animation-fill-mode: forwards;
      }

    }

  }

  &__text {
    margin: 0;
    padding: 0;
  }

}

@keyframes notifier-shrink {
  0% {
    opacity: 0;
    max-height: 200px;
    transform: scale(.8);
  }

  100% {
    opacity: 0;
    max-height: 0;
    transform: scale(.8);
  }

}

@keyframes notifier-show {
  0% {
    opacity: 0;
    transform: perspective(450px) translate(0, -30px) rotateX(90deg);
  }

  100% {
    opacity: 1;
    transform: perspective(450px) translate(0, 0) rotateX(0deg);
  }

}

@keyframes notifier-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(.8);
  }

}

@-webkit-keyframes notifier-show {
  0% {
    opacity: 0;
    -webkit-transform: perspective(450px) translate(0, -30px) rotateX(90deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: perspective(450px) translate(0, 0) rotateX(0deg);
  }

}

@-webkit-keyframes notifier-hide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(.8);
  }

}