$spacer: 20px;
$line-height: 1.5;

$error-color: #b4302b;
$default-color: #447eaf;
$success-color: #597151;
$warning-color: #96722e;

$error-bg-color: #edc8c5;
$default-bg-color: #cde8f6;
$success-bg-color: #ddf3d5;
$warning-bg-color: #f8f4d5;

$error-border-color: #be8181;
$default-border-color: #7dbce0;
$success-border-color: #afcda4;
$warning-border-color: #d8cf82;


.notifier {
  &__list {
    position: fixed;
    z-index: 1000;
    top: $spacer;
    left: auto;
    right: $spacer;
    bottom: auto;

    &--position {
      &-top-left {
        top: $spacer;
        left: $spacer;
        right: auto;
        bottom: auto;
      }

      &-top-right {
        top: $spacer;
        left: auto;
        right: $spacer;
        bottom: auto;
      }

      &-bottom-left {
        top: auto;
        left: $spacer;
        right: auto;
        bottom: $spacer;
      }

      &-bottom-right {
        top: auto;
        left: auto;
        right: $spacer;
        bottom: $spacer;
      }
    }
  }

  &__item {
    width: 200px;
    padding: 15px 25px;
    margin-bottom: 10px;
    border: 1px solid $default-border-color;
    line-height: $line-height;
    background: $default-bg-color; 
    color: $default-color; 
    cursor: pointer;
    border-radius: 2px;

    &--type {
      &-default {
        background: $default-bg-color;
        border-color: $default-border-color; 
        color: $default-color;
      }

      &-warning {
        background: $warning-bg-color;
        border-color: $warning-border-color; 
        color: $warning-color;
      }

      &-error {
        background: $error-bg-color;
        border-color: $error-border-color; 
        color: $error-color;
      }

      &-success {
        background: $success-bg-color;
        border-color: $success-border-color; 
        color: $success-color;
      }

    }

    &--animation {
      &-show {
        animation: notifier-show 180ms cubic-bezier(.175, .885, .32, 1.27499), notification-shrink 250ms 250ms cubic-bezier(.5, 0, 0, 1);
      }

      &-hide {
        animation: notifier-hide 250ms cubic-bezier(.33859, -.42, 1, -.22), notifier-shrink 250ms 250ms cubic-bezier(.5, 0, 0, 1);
        animation-fill-mode: forwards;
      }
    }
  }

  &__text {
    margin: 0;
    padding: 0;
  }
}

@keyframes notifier-shrink {
  0% {
    opacity: 0;
    max-height: 200px;
    transform: scale(.8);
  }

  100% {
    opacity: 0;
    max-height: 0;
    transform: scale(.8);
  }
}

@keyframes notifier-show {
  0% {
    opacity: 0;
    transform: perspective(450px) translate(0, -30px) rotateX(90deg);
  }

  100% {
    opacity: 1;
    transform: perspective(450px) translate(0, 0) rotateX(0deg);
  }
}

@keyframes notifier-hide {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(.8);
  }
}

@-webkit-keyframes notifier-show {
  0% {
    opacity: 0;
    -webkit-transform: perspective(450px) translate(0, -30px) rotateX(90deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: perspective(450px) translate(0, 0) rotateX(0deg);
  }
}


@-webkit-keyframes notifier-hide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  
  100% {
    opacity: 0;
    -webkit-transform: scale(.8);
  }
}
